.wrapperLogIn{
   /*  width: 40%;
    height: 60%;
    background-color: #f7941e;    
    right: 50%;
    left: 50%;
    position: absolute; */
    margin-top: 7%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    color: white;
  
}
.wrapperRegister{
    margin-top: 3%;
    display: flex;
    justify-content: center; 
    color:white;
}
.formContainer{
    width: 40%;
    border-style: ridge;
    padding: 2%;
    border-radius: 25px;
}