.image{
 
    border-radius: 8px;
    width: 70%;
}
.movieName{
    font-family: Stencil Std, fantasy;
    font-weight: 300;
    font-size: 1.75rem !important;   

}
.leftContainer{
    width: 30% ;
    margin-left: 3%;
    justify-content: center;
    float: left;
    margin-top: 5%;
    margin-bottom: 5%;
}
.rightContainer{
    float: right;
    margin-top: 5%;
    margin-right: 8%; 
    margin-bottom: 5%;
}
.date{
    font-family: Stencil Std, fantasy;
    font-weight: 200;
    font-size: 1.5rem;
    color: #f7941e;
    background-color: transparent;
    border-style: none ;
    width: 100%;
    height: 100%; 
}
.date .navr-link:hover{
    color:white !important;
}
.dateContainer{
    border-style: ridge;
    border-color: #0b0c0e;
}
ul {
    list-style-type: none;
    display: flex;
}
.projections{
    color:white;
    margin-top: 5%
}
.active{
    font-family: Stencil Std, fantasy;
    font-weight: 200;
    font-size: 1.5rem;
    color: #f7941e;
    background-color: transparent;
    border-style: none ;
    width: 100%;
    height: 100%; 
}
.inactive{
    font-family: Stencil Std, fantasy;
    font-weight: 200;
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    border-style: none ;
    width: 100%;
    height: 100%; 
}

.btn-outline-flat{
    /* background-color: #f7941e !important; */
    color: #f7941e !important;
    border-color: #f7941e !important;
    font-size: 1.6rem !important;
}
.btn-flat :hover{
    background-color: white;
}
.instruction{
    font-family: Stencil Std, fantasy;
    font-weight: 200;
    font-size: 1.3rem;
    color: #f7941e;
    margin-bottom: 2%;
    margin-top: 2%
}
.projectionWrapper{
    display: flex;
}
.react-numeric-input input {
    color:  #f7941e;
    background-color:  white;
}
.react-numeric-input{
    margin-top: 4%;
}
.seatsToChoose{
    margin-top: 2%;
    margin-left: 5%;
    width: 50%;
}