.header{
    font-family: Stencil Std, fantasy;
    font-stretch: ultra-expanded;
    font-weight: 900;
    font-size: 3rem !important;
    margin-left: 7%;
    color: #f7941e !important;
    padding: 0% !important; 
}
.linksWrapper{
    font-family: Stencil Std, fantasy;
    font-stretch: ultra-expanded;
    font-weight: 400;
    font-size: 1.65rem !important;
    margin-left: 20%;    
}
.links{
    color: #fff !important;
    padding: 10%;
}
.navWrapper{
    background-color: #212121!important;
}
nav .nav-link {
    padding-left: 2rem !important;
}
.links:hover{
    color: #f7941e !important;
}
.logout{
    right: 3%;
    position: absolute;
}
.footerContainer{
    margin-top: 5%;
    clear: both ;
}
.secondNav{
    background-color: #f7941e !important;
    justify-content: center !important;
    font-family: Stencil Std, fantasy;;
    font-stretch: ultra-expanded;
    font-weight: 150;
    font-size: 1.1rem !important;
}
.secondNavLink{
    color:black !important;
    border-left:0.7px solid#363535 !important;
    padding: 11 !important;
}