.scheduleCalendar{
    margin-top: 5%;
    /* width: 100%; */
    margin-left: 3%
}
.scheduleMovie{
    display: inline-flex;
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;

}
.scheduleProjections{
    margin-left: 5%
}
.card .border-primary{
    background-color: black;
}