.scheduleCalendar{
    margin-top: 5%;
    /* width: 100%; */
    margin-left: 3%
}
.scheduleMovie{
    display: inline-flex;
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;

}
.scheduleProjections{
    margin-left: 5%
}
.card .border-primary{
    background-color: black;
}
/* .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: black !important; 
} */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #f7941e !important; 
}
a:hover{
    color: white !important;
    transition: all 0.4s ease-in-out !important;
}