# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Rosti\Lectures\Semester 3\Individual Track Software\CineluxNew\cinelux-frontend\cinelux-frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
